:root {
    --text-color-raw: 0, 0.01%;
    --text-color-l: 100.0%;

    --bg-raw: 243, 100.0%;
    --bg-l: 13.1%;

    --primary-raw: 208, 100.0%;
    --primary-l: 49.0%;

    --success-raw: 120, 39.0%;
    --success-l: 54.0%;

    --info-raw: 194, 66.0%;
    --info-l: 61.0%;

    --warning-raw: 35, 84.0%;
    --warning-l: 62.0%;

    --danger-raw: 2, 64.0%;
    --danger-l: 58.0%;

    --inverse-raw: 200, 4.0%;
    --inverse-l: 17.0%;

    --faded-raw: 0, 0.0%;
    --faded-l: 97.0%;

    --primary: hsl(var(--primary-raw), var(--primary-l));
    --primary-trans: hsla(var(--primary-raw), var(--primary-l), 40%);
    --primary-dark: hsl(var(--primary-raw), calc(var(--primary-l) - 10%));
    --primary-darker: hsl(var(--primary-raw), calc(var(--primary-l) - 20%));
    --primary-darkest: hsl(var(--primary-raw), calc(var(--primary-l) - 30%));
    --primary-light: hsl(var(--primary-raw), calc(var(--primary-l) + 10%));
    --primary-lighter: hsl(var(--primary-raw), calc(var(--primary-l) + 20%));
    --primary-lightest: hsl(var(--primary-raw), calc(var(--primary-l) + 30%));
    --primary-gradient: linear-gradient(to left, var(--primary), var(--primary-dark));
    --primary-gradient-light: linear-gradient(to right, var(--primary), var(--primary-light));

    --success: hsl(var(--success-raw), var(--success-l));
    --success-trans: hsla(var(--success-raw), var(--success-l), 40%);
    --success-dark: hsl(var(--success-raw), calc(var(--success-l) - 10%));
    --success-darker: hsl(var(--success-raw), calc(var(--success-l) - 20%));
    --success-darkest: hsl(var(--success-raw), calc(var(--success-l) - 30%));
    --success-light: hsl(var(--success-raw), calc(var(--success-l) + 10%));
    --success-lighter: hsl(var(--success-raw), calc(var(--success-l) + 20%));
    --success-lightest: hsl(var(--success-raw), calc(var(--success-l) + 30%));
    --success-gradient: linear-gradient(to left, var(--success), var(--success-dark));
    --success-gradient-light: linear-gradient(to right, var(--success), var(--success-light));

    --info: hsl(var(--info-raw), var(--info-l));
    --info-trans: hsla(var(--info-raw), var(--info-l), 40%);
    --info-dark: hsl(var(--info-raw), calc(var(--info-l) - 10%));
    --info-darker: hsl(var(--info-raw), calc(var(--info-l) - 20%));
    --info-darkest: hsl(var(--info-raw), calc(var(--info-l) - 30%));
    --info-light: hsl(var(--info-raw), calc(var(--info-l) + 10%));
    --info-lighter: hsl(var(--info-raw), calc(var(--info-l) + 20%));
    --info-lightest: hsl(var(--info-raw), calc(var(--info-l) + 30%));
    --info-gradient: linear-gradient(to left, var(--info), var(--info-dark));
    --info-gradient-light: linear-gradient(to right, var(--info), var(--info-light));

    --warning: hsl(var(--warning-raw), var(--warning-l));
    --warning-trans: hsla(var(--warning-raw), var(--warning-l), 40%);
    --warning-dark: hsl(var(--warning-raw), calc(var(--warning-l) - 10%));
    --warning-darker: hsl(var(--warning-raw), calc(var(--warning-l) - 20%));
    --warning-darkest: hsl(var(--warning-raw), calc(var(--warning-l) - 30%));
    --warning-light: hsl(var(--warning-raw), calc(var(--warning-l) + 10%));
    --warning-lighter: hsl(var(--warning-raw), calc(var(--warning-l) + 20%));
    --warning-lightest: hsl(var(--warning-raw), calc(var(--warning-l) + 30%));
    --warning-gradient: linear-gradient(to left, var(--warning), var(--warning-dark));
    --warning-gradient-light: linear-gradient(to right, var(--warning), var(--warning-light));

    --danger: hsl(var(--danger-raw), var(--danger-l));
    --danger-trans: hsla(var(--danger-raw), var(--danger-l), 40%);
    --danger-dark: hsl(var(--danger-raw), calc(var(--danger-l) - 10%));
    --danger-darker: hsl(var(--danger-raw), calc(var(--danger-l) - 20%));
    --danger-darkest: hsl(var(--danger-raw), calc(var(--danger-l) - 30%));
    --danger-light: hsl(var(--danger-raw), calc(var(--danger-l) + 10%));
    --danger-lighter: hsl(var(--danger-raw), calc(var(--danger-l) + 20%));
    --danger-lightest: hsl(var(--danger-raw), calc(var(--danger-l) + 30%));
    --danger-gradient: linear-gradient(to left, var(--danger), var(--danger-dark));
    --danger-gradient-light: linear-gradient(to right, var(--danger), var(--danger-light));

    --bg: hsl(var(--bg-raw), var(--bg-l));
    --bg-trans: hsla(var(--bg-raw), var(--bg-l), 40%);
    --bg-dark: hsl(var(--bg-raw), calc(var(--bg-l) - 10%));
    --bg-darker: hsl(var(--bg-raw), calc(var(--bg-l) - 20%));
    --bg-darkest: hsl(var(--bg-raw), calc(var(--bg-l) - 30%));
    --bg-light: hsl(var(--bg-raw), calc(var(--bg-l) + 10%));
    --bg-lighter: hsl(var(--bg-raw), calc(var(--bg-l) + 20%));
    --bg-lightest: hsl(var(--bg-raw), calc(var(--bg-l) + 30%));
    --bg-gradient: linear-gradient(to left, var(--bg), var(--bg-dark));
    --bg-gradient-light: linear-gradient(to right, var(--bg), var(--bg-light));

    --text-color: hsl(var(--text-color-raw), var(--text-color-l));
    --text-color-trans: hsla(var(--text-color-raw), var(--text-color-l), 40%);
    --text-color-dark: hsl(var(--text-color-raw), calc(var(--text-color-l) - 10%));
    --text-color-darker: hsl(var(--text-color-raw), calc(var(--text-color-l) - 20%));
    --text-color-darkest: hsl(var(--text-color-raw), calc(var(--text-color-l) - 30%));
    --text-color-light: hsl(var(--text-color-raw), calc(var(--text-color-l) + 10%));
    --text-color-lighter: hsl(var(--text-color-raw), calc(var(--text-color-l) + 20%));
    --text-color-lightest: hsl(var(--text-color-raw), calc(var(--text-color-l) + 30%));
    --text-color-gradient: linear-gradient(to left, var(--text-color), var(--text-color-dark));
    --text-color-gradient-light: linear-gradient(to right, var(--text-color), var(--text-color-light));
}

/************
* BOOTSTRAP *
*************/

.btn {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn-primary {
    color: var(--text-color);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.btn-success {
    color: var(--text-color);
    background-color: var(--success);
    border-color: var(--success);
}

.btn-outline-success {
    color: var(--success);
    border-color: var(--success);
}

/** text **/
.text-primary {
    color: var(--primary) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-info {
    color: var(--info) !important;
}

.text-warning {
    color: var(--warning) !important;
}

.text-danger {
    color: var(--danger) !important;
}