:root {
    --primary-raw: 208, 100.0%;
    --primary-l: 49.0%;
    --primary-g: 7%;

    --success-raw: 120, 39.0%;
    --success-l: 54.0%;
    --success-g: 7%;

    --info-raw: 194, 66.0%;
    --info-l: 61.0%;
    --info-g: 7%;

    --warning-raw: 35, 84.0%;
    --warning-l: 62.0%;
    --warning-g: 7%;

    --danger-raw: 2, 64.0%;
    --danger-l: 58.0%;
    --danger-g: 7%;

    --inverse-raw: 200, 4.0%;
    --inverse-l: 17.0%;
    --inverse-g: 7%;

    --faded-raw: 0, 0.0%;
    --faded-l: 97.0%;
    --faded-g: 7%;

    --bg-raw: 243, 100.0%;
    --bg-l: 13.1%;
    --bg-g: 7%;

    --tc-raw: 0, 0.01%;
    --tc-l: 100.0%;
    --tc-g: 7%;

    --primary: hsl(var(--primary-raw), var(--primary-l));
    --primary-trans: hsla(var(--primary-raw), var(--primary-l), 40%);
    --primary-dark: hsl(var(--primary-raw), calc(var(--primary-l) - 1 * var(--primary-g)));
    --primary-darker: hsl(var(--primary-raw), calc(var(--primary-l) - 2 * var(--primary-g)));
    --primary-darkest: hsl(var(--primary-raw), calc(var(--primary-l) - 3 * var(--primary-g)));
    --primary-light: hsl(var(--primary-raw), calc(var(--primary-l) + 1 * var(--primary-g)));
    --primary-lighter: hsl(var(--primary-raw), calc(var(--primary-l) + 2 * var(--primary-g)));
    --primary-lightest: hsl(var(--primary-raw), calc(var(--primary-l) + 3 * var(--primary-g)));
    --primary-gradient: linear-gradient(to left, var(--primary), var(--primary-dark));
    --primary-gradient-light: linear-gradient(to right, var(--primary), var(--primary-light));

    --success: hsl(var(--success-raw), var(--success-l));
    --success-trans: hsla(var(--success-raw), var(--success-l), 40%);
    --success-dark: hsl(var(--success-raw), calc(var(--success-l) - 1 * var(--success-g)));
    --success-darker: hsl(var(--success-raw), calc(var(--success-l) - 2 * var(--success-g)));
    --success-darkest: hsl(var(--success-raw), calc(var(--success-l) - 3 * var(--success-g)));
    --success-light: hsl(var(--success-raw), calc(var(--success-l) + 1 * var(--success-g)));
    --success-lighter: hsl(var(--success-raw), calc(var(--success-l) + 2 * var(--success-g)));
    --success-lightest: hsl(var(--success-raw), calc(var(--success-l) + 3 * var(--success-g)));
    --success-gradient: linear-gradient(to left, var(--success), var(--success-dark));
    --success-gradient-light: linear-gradient(to right, var(--success), var(--success-light));

    --info: hsl(var(--info-raw), var(--info-l));
    --info-trans: hsla(var(--info-raw), var(--info-l), 40%);
    --info-dark: hsl(var(--info-raw), calc(var(--info-l) - 1 * var(--info-g)));
    --info-darker: hsl(var(--info-raw), calc(var(--info-l) - 2 * var(--info-g)));
    --info-darkest: hsl(var(--info-raw), calc(var(--info-l) - 3 * var(--info-g)));
    --info-light: hsl(var(--info-raw), calc(var(--info-l) + 1 * var(--info-g)));
    --info-lighter: hsl(var(--info-raw), calc(var(--info-l) + 2 * var(--info-g)));
    --info-lightest: hsl(var(--info-raw), calc(var(--info-l) + 3 * var(--info-g)));
    --info-gradient: linear-gradient(to left, var(--info), var(--info-dark));
    --info-gradient-light: linear-gradient(to right, var(--info), var(--info-light));

    --warning: hsl(var(--warning-raw), var(--warning-l));
    --warning-trans: hsla(var(--warning-raw), var(--warning-l), 40%);
    --warning-dark: hsl(var(--warning-raw), calc(var(--warning-l) - 1 * var(--warning-g)));
    --warning-darker: hsl(var(--warning-raw), calc(var(--warning-l) - 2 * var(--warning-g)));
    --warning-darkest: hsl(var(--warning-raw), calc(var(--warning-l) - 3 * var(--warning-g)));
    --warning-light: hsl(var(--warning-raw), calc(var(--warning-l) + 1 * var(--warning-g)));
    --warning-lighter: hsl(var(--warning-raw), calc(var(--warning-l) + 2 * var(--warning-g)));
    --warning-lightest: hsl(var(--warning-raw), calc(var(--warning-l) + 3 * var(--warning-g)));
    --warning-gradient: linear-gradient(to left, var(--warning), var(--warning-dark));
    --warning-gradient-light: linear-gradient(to right, var(--warning), var(--warning-light));

    --danger: hsl(var(--danger-raw), var(--danger-l));
    --danger-trans: hsla(var(--danger-raw), var(--danger-l), 40%);
    --danger-dark: hsl(var(--danger-raw), calc(var(--danger-l) - 1 * var(--danger-g)));
    --danger-darker: hsl(var(--danger-raw), calc(var(--danger-l) - 2 * var(--danger-g)));
    --danger-darkest: hsl(var(--danger-raw), calc(var(--danger-l) - 3 * var(--danger-g)));
    --danger-light: hsl(var(--danger-raw), calc(var(--danger-l) + 1 * var(--danger-g)));
    --danger-lighter: hsl(var(--danger-raw), calc(var(--danger-l) + 2 * var(--danger-g)));
    --danger-lightest: hsl(var(--danger-raw), calc(var(--danger-l) + 3 * var(--danger-g)));
    --danger-gradient: linear-gradient(to left, var(--danger), var(--danger-dark));
    --danger-gradient-light: linear-gradient(to right, var(--danger), var(--danger-light));

    --bg: hsl(var(--bg-raw), var(--bg-l));
    --bg-trans: hsla(var(--bg-raw), var(--bg-l), 40%);
    --bg-dark: hsl(var(--bg-raw), calc(var(--bg-l) - 1 * var(--bg-g)));
    --bg-darker: hsl(var(--bg-raw), calc(var(--bg-l) - 2 * var(--bg-g)));
    --bg-darkest: hsl(var(--bg-raw), calc(var(--bg-l) - 3 * var(--bg-g)));
    --bg-light: hsl(var(--bg-raw), calc(var(--bg-l) + 1 * var(--bg-g)));
    --bg-lighter: hsl(var(--bg-raw), calc(var(--bg-l) + 2 * var(--bg-g)));
    --bg-lightest: hsl(var(--bg-raw), calc(var(--bg-l) + 3 * var(--bg-g)));
    --bg-gradient: linear-gradient(to left, var(--bg), var(--bg-dark));
    --bg-gradient-light: linear-gradient(to right, var(--bg), var(--bg-light));

    --tc: hsl(var(--tc-raw), var(--tc-l));
    --tc-trans: hsla(var(--tc-raw), var(--tc-l), 40%);
    --tc-dark: hsl(var(--tc-raw), calc(var(--tc-l) - 1 * var(--tc-g)));
    --tc-darker: hsl(var(--tc-raw), calc(var(--tc-l) - 2 * var(--tc-g)));
    --tc-darkest: hsl(var(--tc-raw), calc(var(--tc-l) - 3 * var(--tc-g)));
    --tc-light: hsl(var(--tc-raw), calc(var(--tc-l) + 1 * var(--tc-g)));
    --tc-lighter: hsl(var(--tc-raw), calc(var(--tc-l) + 2 * var(--tc-g)));
    --tc-lightest: hsl(var(--tc-raw), calc(var(--tc-l) + 3 * var(--tc-g)));
    --tc-gradient: linear-gradient(to left, var(--tc), var(--tc-dark));
    --tc-gradient-light: linear-gradient(to right, var(--tc), var(--tc-light));
}

/************
* BOOTSTRAP *
*************/

.btn-primary {
    color: var(--tc);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.btn-success {
    color: var(--tc);
    background-color: var(--success);
    border-color: var(--success);
}

.btn-outline-success {
    color: var(--success);
    border-color: var(--success);
}

/** text **/
.text-primary {
    color: var(--primary) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-info {
    color: var(--info) !important;
}

.text-warning {
    color: var(--warning) !important;
}

.text-danger {
    color: var(--danger) !important;
}