body {
    height: 100vh;
    width: 100vw;
    background: var(--bg-gradient);
}

#rootContainer {
    border: 4px solid var(--tc);
    max-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#kbInp {
    background: transparent;
    color: var(--tc);
    resize: none;
}

#textDisplay>pre {
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
    color: var(--tc);
    overflow: revert;
}

#imagesDisplay>div:hover {
    border: 1px solid var(--success-light);
    border-radius: 2.2%;
}

/************
* BOOTSTRAP *
*************/

.btn {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn:active {
    background: var(--success-gradient-light) !important;
}

div.btn-group.show div.dropdown-menu {
    background: var(--bg-gradient);
    max-height: 50vh;
    overflow-y: auto;
    border: 1px solid var(--tc);
}

div.btn-group.show div.dropdown-menu.show button.dropdown-item {
    color: var(--tc);
}

div.btn-group.show div.dropdown-menu.show button.dropdown-item:hover,
div.btn-group.show div.dropdown-menu.show button.dropdown-item:focus {
    background: var(--primary);
}

/**********
* HELPERS *
***********/

.overflow-auto {
    overflow: auto;
}