<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title th:text="${projectName}"></title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/icon type">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>

    <link th:href="@{/styles/css/kB/genThemeBS.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/kB/index.css}" rel="stylesheet" />

    <script th:src="@{/js/jsPlus/APIs.js}"></script>
    <script th:src="@{/js/jsPlus/Storage.js}"></script>
    <script th:src="@{/js/jsPlus/BootstrapUtils.js}"></script>
    <script th:src="@{/js/kB/kBUtils.js}"></script>

    <script th:src="@{/js/kB/index.js}"></script>
    <script th:src="@{/js/kB/io.js}"></script>
    <script th:src="@{/js/kB/gui.js}"></script>

    <!-- <link th:href="@{/kB.min.css}" rel="stylesheet" />
    <script th:src="@{/kB.min.js}"></script> -->
</head>

<body>
    <div id="rootContainer" class="p-3 h-100">
        <ul class="nav nav-tabs d-flex flex-row" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="guiTab" data-toggle="tab" href="#gui" role="tab" aria-controls="home"
                    aria-selected="true">
                    <i class="fa-solid fa-table-cells"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="ioInp" data-toggle="tab" href="#ioInput" role="tab" aria-controls="profile"
                    aria-selected="false">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="ioOut" data-toggle="tab" href="#ioOutput" role="tab" aria-controls="contact"
                    aria-selected="false">
                    <i class="fa-solid fa-arrow-trend-down"></i>
                </a>
            </li>
            <div class="d-flex flex-row flex-grow-1">
                <div class="flex-grow-1"></div>
                <li class="nav-item kb-links" th:each="entry, stat : ${links}">
                    <a class="nav-link text-warning" th:href="${entry.value}" aria-selected="false"
                        th:text="${entry.key}"></a>
                </li>
            </div>
            <!--            <li class="nav-item">-->
            <!--                <button class="btn btn-outline-primary" onclick="pingLinks();">ping</button>-->
            <!--            </li>-->
        </ul>
        <div class="tab-content overflow-auto h-100 mt-4">
            <div class="tab-pane fade show active h-100" id="gui" role="tabpanel" aria-labelledby="gui"
                th:insert="kb/gui :: gui">
            </div>
            <div class="tab-pane fade h-100" id="ioInput" role="tabpanel" aria-labelledby="IOInput"
                th:insert="kb/io :: inp">
            </div>
            <div class="tab-pane fade h-100" id="ioOutput" role="tabpanel" aria-labelledby="IOOutput"
                th:insert="kb/io :: disp">
            </div>
        </div>
    </div>
    <script>
        guiInit();
        init();
        kBUtils.send("splash", fillDisplay);
    </script>
</body>

</html>