<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="disp">
    <div id="kbDisplay" class="col-12p"></div>
</div>

<div th:fragment="inp"
     class="d-flex flex-row flex-wrap h-100">
    <textarea id="kbInp" name="kb-inp"
              rows="4" class="col-12 mb-3"
              placeholder="type a message to kernelBot!"></textarea>
    <div class="col-12 p-0">
        <button class="btn btn-outline-secondary mr-2"
                onClick="sendInp();">
            Send
        </button>
        <button class="btn btn-outline-secondary"
                onClick="clearInp();">
            Clear
        </button>
    </div>
</div>