<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div id="settings" class="pt-2" th:fragment="main">
    <fieldset class="text-tc border p-2">
        <legend class="w-auto px-2 m-0">Colors
            <button class="btn btn-info" onClick="copyColors();">
                <i class="fa-solid fa-copy"></i>
            </button>
            <button class="btn btn-warning" onClick="pasteColors();">
                <i class="fa-solid fa-paste"></i>
            </button>
        </legend>
        <section>
            <div class="row w-100 p-0 m-0">
                <wrapper class="col-md-2 col-6 p-1 my-auto">
                    <form class="form-group m-0 w-100">
                        <select id="colorsMenu" class="form-control" data-role="select-dropdown"
                            onChange="colorsSelect(this)">
                        </select>
                    </form>
                </wrapper>
                <wrapper class="col-md-2 col-6 p-1 my-auto">
                    <input id="colorsInp" class="w-100" type="color" onChange="colorsChange(this)"></input>
                </wrapper>
                <wrapper class="col-md-2 col-6 p-1 my-auto">
                    <button class="btn btn-primary w-100" onClick="colorsSave();">
                        Save
                    </button>
                </wrapper>
                <wrapper class="col-md-2 col-6 p-1 my-auto">
                    <button class="btn btn-primary w-100" onClick="colorsDefault();">
                        Default
                    </button>
                </wrapper>
            </div>
        </section>
    </fieldset>
</div>

</html>